 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>dd.SMARTKIT.INFO is a ChatBot platform created by yangboz. The platform includes the complete chat bot solutions as well as application, helper, assistant.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a customer looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your visualization, Here is the perfect starting point! </p>
                    <p>SMARTKIT.INFO is an international consulting firm that specializes in Agile Development, Big Data and DevOps / Cloud / Chatbots. Our highly skilled consultants are located in the US, China. SMARTKIT.INFO has a $1 million revenue and a 20% annual growth rate.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download White Paper
                    </a>
                </div>
            </div>
        </div>
    </section>